header {
  padding: 0 1em;
}

.l-box {
  padding: 1em;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.pure-menu {
  width: auto;

  .pure-menu-heading {
    padding-left: 0px;
  }
}

.signIn {
  padding: .5em 1em;
  color: #777;
}

#login-buttons a, .accounts-dialog a {
  text-decoration: none;
}

main {
  clear: both;
}

.action:hover {
  cursor: pointer;
}

.listings {
  select {
    width: 24%;
    min-width: 200px;
  }
  
  #value-added {
//    background: red;
    input[type="checkbox"] {
      margin-right: 3px;
    }
    label {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
  
  .listingTable {
    img {
      max-width: 200px;
      max-height: 200px;
    }
  }
}

